*.pkl
*.ubj
*.tsv
*.pyc
*.tfevents
*.joblib
credit_default_pipeline.joblib
foreign_solutions/AutogluonModels/*
foreign_solutions/catboost_info/*
ml_rnd/src/catboost_info/*
ml_rnd/src/AutogluonModels/*